/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.youtube_wrapper {
   margin-bottom: 3em;
}

body {
    font-family: "Arial", sans-serif;
    color: black;
}

p {
    font-family: "Arial", sans-serif;
}
h1,h2,h3,h4,h5 {
    font-family: "Arial", sans-serif;
    color: #336699;
}

.wy-nav-side {
	  background-color: #000000;
}

.wy-menu {
    color: #336699;
}

.wy-menu-vertical p {
    margin-bottom: 0;
}

.wy-menu-vertical .caption-text {
    color: #FF6633;
    height: 32px;
    line-height: 32px;
    margin: 12px 0 0;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}

div.wy-side-nav-search {
    margin-bottom: 10px;
    background: linear-gradient(to left, rgb(0, 102, 102) 33%, transparent 33%, transparent 34%, rgb(255, 204, 51) 34%) bottom left no-repeat, white;
	  background-size: 100% 5px, 100% 100%;
}


div.document a:visited {
/* Same colour as unvisited */
    color: #336699;
}

.wy-nav-content {
    background-color: white;
}

.rst-content .toctree-wrapper>p.caption, h2 {
    font-size: 150%;
}

.rst-content .toctree-wrapper>p.caption {
    color: #FF6633;
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: Arial,sans-serif;
}

.fakeheading {
    font-size: 150%;
    color: #FF6633;
}


.lang-picker {
    float: right;
    padding-top: 5px;
}

/*.platform {*/
/*    transition: all 0.4s ease-in-out;*/
/*    border-radius: 5px;*/
/*    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 20%);*/
/*    border: 1px solid #f0f0f0;*/
/*    margin-bottom: 1em;*/
/*    padding: 1em 1em 0em 1em;*/
/*    overflow: hidden;*/
/*}*/

/*.platform:hover {*/
/*    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 70%);*/
/*}*/

/*.platform p {*/
/*    margin-bottom: 6px;*/
/*}*/

.platform .topic-title a {
    display: block;
    font-size: 125%;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.platform-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.platform-list .product-item img {
    width: 240px;
    margin-bottom: 0;
}

.product-item {
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 20%);
    border: 1px solid #f0f0f0;
}

.product-item:hover {
    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 70%);
}

.product-item p {
    margin: 0.5rem;
}

.product-item p:first-of-type {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
}

.product-item p:last-child a {
    display: inline-block;
    padding: 8px 17px 8px 17px;
    color: white;
    border: 1px solid  #336699;
    background-color: #336699;
    transition: all 0.2s ease-in-out;
}

.product-item p:last-child a:hover {
    color: #336699;
    background-color: white;
}

.product-item p:last-child {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-item img {
    width: 100%;
}

.document a[href^="http"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}

/* Xarray formatting hacks */

.rst-content ul.xr-var-list li>* {
	  margin-top: 0px !important;
	  margin-bottom: 0px !important;
}

.rst-content ul.xr-dim-list li {
	  display: inline-block !important;
    padding: 0 !important;;
    margin: 0 !important;
}

.rst-content dl.xr-attrs dt,
.rst-content dl.xr-attrs dd {
	  margin: 0px 0 !important;
	  font-size: inherit !important;
	  background: inherit !important;
	  color: inherit !important;
	  border-top: none !important;
	  padding: 0px 10px 0px 0px !important;
	  float: left !important;
	  white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.rst-content dl.xr-attrs dt {
	  font-weight: normal !important;
	  grid-column: 1 !important;
}

.rst-content dl.xr-attrs dd {
	  grid-column: 2 !important;
}

/* Hacks to get the SDG notebook page to render correctly */

img.float-left {
    float: left;
    
}

img.float-right {
    float: right;
    
}

div.centered-italic{
    text-align : center; 
    font-size : 17px; 
    font-style : italic
}

p.empty-space{
    margin-bottom : 16em;
}

p.empty-space2{
    margin-bottom : 4em;
}