/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.youtube_wrapper {
   margin-bottom: 3em;
}

body {
    font-family: "Arial", sans-serif;
    color: black;
}

p {
    font-family: "Arial", sans-serif;
}
h1,h2,h3,h4,h5 {
    font-family: "Arial", sans-serif;
    color: #336699;
}

.wy-nav-side {
	  background-color: #000000;
}

.wy-menu {
    color: #336699;
}
.wy-menu-vertical p.caption,
.wy-menu-vertical .caption-text {
    color: #FF6633;
}

div.wy-side-nav-search {
    margin-bottom: 10px;
    background: linear-gradient(to left, rgb(0, 102, 102) 33%, transparent 33%, transparent 34%, rgb(255, 204, 51) 34%) bottom left no-repeat, white;
	  background-size: 100% 5px, 100% 100%;
}


div.document a:visited {
/* Same colour as unvisited */
    color: #336699;
}

.wy-nav-content {
    background-color: white;
}

.rst-content .toctree-wrapper>p.caption, h2 {
    font-size: 150%;
}

.rst-content .toctree-wrapper>p.caption {
    color: #FF6633;
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: Arial,sans-serif;
}

.fakeheading {
    font-size: 150%;
    color: #FF6633;
}

.platform {
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 20%);
    border: 1px solid #f0f0f0;
    margin-bottom: 1em;
    padding: 1em 1em 0em 1em;
    overflow: hidden;
}

.platform:hover {
    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 70%);
}

.platform p {
    margin-bottom: 6px;
}

.platform .topic-title a {
    display: block;
    font-size: 125%;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.product-item {
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 20%);
    border: 1px solid #f0f0f0;
}

.product-item:hover {
    box-shadow: 2px 1px 25px 5px rgb(166 166 166 / 70%);
}

.product-item p:first-child {
    display: block;
    font-size: 125%;
    margin-bottom: 12px;
}

.product-item img {
    width: 100%;
}

.product-item p {
    margin: 0;
}

.document a[href^="http"] {
    background: url(external.png) center right no-repeat;
    padding-right: 13px;
}